# Config
NODE_ENV="development"
DATABASE_URL=""
FRONTEND_URL="http://localhost:7700"
DISCORD_URL="http://localhost:7000"
PORT="7200"

# Discord
CLIENT_ID=""
CLIENT_SECRET=""
CLIENT_TOKEN=""
ERROR_LOG_CHANNEL=""

# Secrets
API_SECRET=""
COOKIE_SECRET=""
JWT_SECRET=""
HMAC_SECRET=""

# Socket IO
IO_USERNAME= ""
IO_PASSWORD= ""